.nav-link{
  color: white;
}
.navbar-brand{
  font-size: 250%;
}
.footer-bottom{
  background-color: grey;
  color: black;
}
.p2{
  color: blue;
  font-size: 250%;
}
.Sight-desc{
  background-color: #CDCDCD;
  color: black;
}
